In [61]:
#initial package upload
from sklearn import datasets
from sklearn import metrics
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [75]:
#add in the raw data
data = pd.read_csv("./mydata.csv")

#cleaning the data
del data['Unnamed: 0']
del data['mean15']
del data['median15']
del data['urban_f']
del data['Ethnicity']
del data['Total_deat']

data.columns = ['Report_ID','Date','Monthcode','Incident_Type',
                    'Coal_Wound','Coal_KIA', 'Iraq_Wound','Iraq_KIA',
                    'Civ_Wound','Civ_KIA', 'Enemy_Wound', 'Enemy_KIA',
                    'Enemy_Det','Latitude','Longitude','urban_ID',
                    'urban_ind','Shia','Sunni','Christian', 'Turcoman', 
                    'Mixed_SuSh','Town', 'Province','pop_density','Am_YES',
                    'Am_NO','IR_right','IR_wrong','Am_poll','IR_poll','civ_cas',
                    'coal_cas','Iraqi_cas']

def sum_enemies (x):
    x['Enemy_Wound'] + x['Enemy_KIA'] + x['Enemy_Det']
    
data.apply (lambda x: sum_enemies (x),axis=1)

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
21511    None
21512    None
21513    None
21514    None
21515    None
21516    None
21517    None
21518    None
21519    None
21520    None
21521    None
21522    None
21523    None
21524    None
21525    None
21526    None
21527    None
21528    None
21529    None
21530    None
21531    None
21532    None
21533    None
21534    None
21535    None
21536    None
21537    None
21538    None
21539    None
21540    None
Length: 21541, dtype: object

In [63]:
list(data.columns.values)

['Report_ID',
 'Date',
 'Monthcode',
 'Incident_Type',
 'Coal_Wound',
 'Coal_KIA',
 'Iraq_Wound',
 'Iraq_KIA',
 'Civ_Wound',
 'Civ_KIA',
 'Enemy_Wound',
 'Enemy_KIA',
 'Enemy_Det',
 'Latitude',
 'Longitude',
 'urban_ID',
 'urban_ind',
 'Shia',
 'Sunni',
 'Christian',
 'Turcoman',
 'Mixed_SuSh',
 'Town',
 'Province',
 'pop_density',
 'Am_YES',
 'Am_NO',
 'IR_right',
 'IR_wrong',
 'Am_poll',
 'IR_poll',
 'civ_cas',
 'coal_cas',
 'Iraqi_cas']

In [74]:
#how many observations?
data['Monthcode'].value_counts()

34    982
33    884
36    765
32    745
41    715
37    666
35    661
43    659
42    651
38    636
40    609
39    599
30    479
44    470
31    451
46    422
45    402
29    388
52    374
51    365
28    330
8     310
48    296
11    292
18    291
13    288
22    286
47    279
53    273
17    273
     ...
26    219
10    214
14    210
9     209
56    205
12    201
25    201
54    200
55    197
15    193
57    190
6     188
58    160
7     150
59    125
60    123
61    119
69    117
3     111
66    106
65    106
68    103
64     96
67     94
62     92
1      82
70     81
2      78
72     70
71     50
Name: Monthcode, Length: 70, dtype: int64

In [73]:
#pick out the most violent month
data34 = data[(data.Monthcode == 34)]
data['civ_cas'].value_counts()

0      10983
1       3560
2       1835
3       1051
4        725
5        506
6        304
7        263
8        246
10       172
9        161
11       127
12       107
14       103
16        83
13        82
15        77
17        74
18        58
19        52
21        50
20        50
25        48
27        43
23        40
22        39
28        30
24        28
26        28
40        26
       ...
158        1
206        1
270        1
734        1
143        1
175        1
220        1
156        1
108        1
155        1
356        1
420        1
117        1
133        1
181        1
213        1
150        1
166        1
87         1
223        1
151        1
199        1
231        1
247        1
88         1
122        1
154        1
346        1
75         1
103        1
Name: civ_cas, Length: 168, dtype: int64

In [50]:
#missing values check
print data_raw.isnull().sum()

Report_ID        0
Date             0
Monthcode        0
Incident_Type    0
Coal_Wound       0
Coal_KIA         0
Iraq_Wound       0
Iraq_KIA         0
Civ_Wound        0
Civ_KIA          0
Enemy_Wound      0
Enemy_KIA        0
Enemy_Det        0
Latitude         0
Longitude        0
urban_ID         0
urban_ind        0
Shia             0
Sunni            0
Christian        0
Turcoman         0
Mixed_SuSh       0
Town             0
Province         0
pop_density      0
Am_YES           0
Am_NO            0
IR_right         0
IR_wrong         0
Am_poll          0
IR_poll          0
civ_cas          0
coal_cas         0
Iraqi_cas        0
dtype: int64

In [53]:
#what % of the attacks are urban?
data_raw['urban_ind'].mean()

0.6913792303049998

In [59]:
data_raw['urban_ID'].value_counts()

 9     7523
-1     6648
 20    2088
 11    1684
 10    1515
 15     479
 0      431
 18     262
 14     230
 13     225
 5       97
 8       91
 6       64
 12      58
 7       47
 4       40
 2       26
 3       16
 17       9
 19       3
 16       3
 1        2
Name: urban_ID, dtype: int64